.add{
  border: 3px green solid;
}

.change{
  border: 3px teal solid;
}

.remove{
  border: 3px red solid;
}

.add, .change, .remove{
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  display: inline-block;
}